<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring blog</title>
</head>
<body>
<h1>Welcome to Spring Blog</h1>
<form th:object="${post}" th:action="@{/posts}" method="post">
  <div>
    <label for="title">
      Title:
    </label>
    <input id="title" th:field="*{title}" type="text">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  </div>
  <div>
    <label for="description">Description: </label>
    <input id="description" th:field="*{description}" type="text">
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  </div>
  <div>
    <label for="body">Body: </label>
    <textarea id="body" th:field="*{body}"> </textarea>
    <div style="color: red" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></div>
  </div>
  <div>
    <input type="submit">
  </div>

</form>

</body>
</html>